


<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column d-flex align-items-center">
       
          
          <li class="nav-item mt-5">
            <a class="nav-link" href="#">
              <i class="lni lni-lg lni-timer"></i>
              Subastas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="lni lni-lg lni-blackboard"></i>
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="lni lni-users"></i>
              Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="lni lni-bar-chart"></i>
              Reports
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  <div class="col-sm-9 container content">
    
    <div class="row">
    
      <div class="col-sm-12 col-md-12">
         <%#= render partial: 'auctions' %>
         <%= render partial: 'products' %>
         <%#= render partial: 'users' %>
      </div>
    
    </div>
  </div>
</div>